.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.title {
    position: fixed;
    top: 25%;
    left: 22%;
}

.title h2 {
    color: hsl(0, 9%, 96%);
    font-weight: 500;
    offset: calc(72px / 10);
    font-size: 72px;
    letter-spacing: -0.3px;
    line-height: 72px;
    background: -webkit-linear-gradient(#ffffff83, #ffffffb9, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
}

.content {

    max-width: 840px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 32px 32px 150px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: #e0d6d6 0px 30px 60px 0px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    margin-top: 360px;
    transform: translateZ(0);
}

.content h3,
h4 {
    color: #333;
    font-weight: 500;
}

.content p {
    color: #666;
    line-height: 1.5;
}

.content br {
    display: block;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .title h2 {
        font-size: 60px;
        line-height: 1;
    }

    .title {
        left: 10%;
    }
}

@media (max-width: 640px) {
    .title h2 {
        font-size: 57px;
        line-height: 1;
    }
}