.bg {
  width: 100%;
  height: 100vh;
  /* Add your background pattern here */
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='120' height='80' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 1)'/><path d='M-50.129 12.685C-33.346 12.358-16.786 4.918 0 5c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='1.5' stroke='hsla(187, 100%, 42%, 1)' fill='none'/><path d='M-50.129 32.685C-33.346 32.358-16.786 24.918 0 25c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='1.5' stroke='hsla(187, 100%, 42%, 1)' fill='none'/><path d='M-50.129 52.685C-33.346 52.358-16.786 44.918 0 45c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='1.5' stroke='hsla(198.7,97.6%,48.4%,1)' fill='none'/><path d='M-50.129 72.685C-33.346 72.358-16.786 64.918 0 65c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='1.5' stroke='hsla(187, 100%, 42%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.card {
  width: 420px;
  height: 450px;
  border-radius: 20px;
  background: #fff;
  position: relative;
  padding: 15px 30px;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card__details {
  height: 100%;
  gap: 2.5em;
  display: grid;
  place-content: center;
}


.card__link {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  text-decoration: none;
  text-align: center;
}

.card__link:hover {
  background-color: var(--primary-color);
  transition: 0.2s ease;
}

.card__details p {
  color: rgb(104, 104, 104);
  text-justify:distribute;
}

/*Text*/
.card__details h1 {
  color: #323232;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card__link {
  transform: translate(-50%, 50%);
  opacity: 1;
}
/*
.container {
  display: flex;
  color: #000;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  padding: 1rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.container:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.container p {
  color: #686868;
}

.title {
  font-size: 2rem;
}

.form {
  position: relative;
  display: flex;
  gap: 2rem;
}

.form .icon {
  position: absolute;
  right: 8.5em;
  top: 45%;
  transform: translateY(-50%);
}

.icon {
  font-size: 2rem;
}

.form input {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 2px;
  font-size: 1.5rem;
  padding: 0.5em 4em 0.5em 2em;
}

.input {
  font: inherit;
  outline: 0;
}

.form input:valid + .icon::after {
  content: "😃";
}

.form input:invalid {
  border-color: firebrick;
}

.form input:valid {
  border-color: green;
}

.form input:invalid + .icon::after {
  content: "😞";
}

.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn {
  -webkit-tap-highlight-color: transparent;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.btn:disabled {
  cursor: default;
}
.btn:-moz-focusring {
  outline: auto;
}
.btn svg {
  display: block;
}
.btn [hidden] {
  display: none;
}
.btn {
  background: #fff;
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
}
.btn:hover {
  box-shadow: 0 6px 0 -4px #fff, 0 9px 0 -4px #aaa, 0 12px 0 -4px #000;
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .bg {
    flex-direction: column-reverse;
  }

  .form input {
    border-radius: 0.25em;
    border-style: solid;
    border-width: 2px;
    font-size: 1.5rem;
    padding: 0.2em;
    width: 100%;
  }
  .icon {
    display: none;
  }
}

@media (max-width: 420px) {
  .card {
    width: 80%;
    height: 80%;
  }

  .container {
    width: 85%;
    height: 100%;
    margin: 2em 0;
  }

  .form {
    display: flex;
  }

  .title {
    font-size: 20px;
  }

  .container p {
    font-size: 12px;
  }

  .input {
    width: 50%;
    font-size: 12px;
    padding: 0;
  }

  .btn {
    width: 100%;
    padding: 0;
    font-size: 15px;
  }
}
*/

@media (max-width: 756px){
  .card{
    display: none;
  }

}