/*Login*/

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 20px;
  padding: 0px 40px;
}

.inicio {
  text-align: center;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  color: #fff;
}

.wrapper {
  height: 450px;
  width: 420px;
  background-color: #f8f8f841;
  border: 2px solid rgba(255, 255, 255, 0.999);
  color: #181818c2;
  border-radius: 12px;
  padding: 30px 40px;
  z-index: 1;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: #fff;
}

.wrapper .input_box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input_box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
}

.input_box input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.679);
}

.input_box input::placeholder {
  color: #4a4949c5;
}

.input_box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}

.wrapper .remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  font-weight: 600;
}

.remember_forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember_forgot a {
  color: #181818c2;
  text-decoration: none;
}

.remember_forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #f8bb02;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .btn:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.wrapper .register_link p {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  color: #232020;
}

.register_link p a {
  color: #181818c2;
  text-decoration: none;
  font-weight: 800;
}

.register_link p a:hover {
  text-decoration: underline;
}

/*info Tarjeta*/
.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.card {
  width: 420px;
  height: 450px;
  border-radius: 20px;
  background: #fff;
  position: relative;
  padding: 15px 30px;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card__details {
  height: 100%;
  gap: 2.5em;
  display: grid;
  place-content: center;
}

.card__link {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  text-decoration: none;
  text-align: center;
}

.card__link:hover {
  background-color: var(--primary-color);
  transition: 0.2s ease;
}

.card__details p {
  color: rgb(104, 104, 104);
  text-justify: distribute;
}

/*Text*/
.card__details h1 {
  color: #323232;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card__link {
  transform: translate(-50%, 50%);
  opacity: 1;
}

@media (max-width: 756px) {
  .card {
    display: none;
  }
}
