.accordion_container {
    margin: 5rem 0;
}

.accordion {
    width: 100%;
    max-width: 600px;
    margin: 1.5rem auto;
    color: white;

    & summary {
        padding: 0.8rem;
        cursor: pointer;
        border-radius: 10rem;
        text-transform: uppercase;
        background-color: var(--primary-color);
        transition: opacity 200ms ease;
        text-wrap: wrap;

    }

    & summary:hover {
        opacity: .7;
    }

    & summary:active {
        cursor: progress;
    }

    & p {
        padding: 0.5rem;
        color: #585858;
        text-align: center;
        text-wrap: pretty;
        font-weight: 600;
    }
}


@media screen and (max-width: 760px) {

    .accordion_container {
        margin-top: 12rem;
    }

    .accordion {
        width: 100%;
        max-width: 450px;
    }

}